.login_main_container{
    box-shadow: 2px 1px 2px 1px;
    height: 15rem;
    width: 20%;
    margin: auto;
    margin-top: 3rem;
    border-radius: 6px;
}
.inpu1{
    width: 70%;
    height: 2rem;
    border-radius: 5px;
    margin-top: 2rem;
    border: 1px solid #d1c295;
}
.inpu2{
    width: 70%;
    height: 2rem;
    border-radius: 5px;
    margin-top: 2rem;
    border: 1px solid #d1c295;
}

.inpu3{
    width: 70%;
    height: 2.2rem;
    border-radius: 5px;
    margin-top: 1rem;
    color: #ecf5f5;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    background-color: #18c683;
    border: none;
}

.show_hide_password_div{
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}

.show_hide_password img{
width: 21px;
position: absolute;
top: 60%;
left: 76%;
}