* {
  padding: 0%;
  margin: 0%;
}

.whole_container {
  width: 99%;
  margin: auto;
  margin-top: 2px;
}

.navbar_div {
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  width: 98%;
  margin: auto;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #434343;
  font-weight: bold;
  background-color: #00264a;
  color: white;
}

.mapdiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  justify-content: center;
  color: rgb(54, 52, 52);
  padding: 2% 5%;
}

.card {
  border: 1px solid;
  box-shadow: 2px 1px 2px 1px grey;
  padding: 2% 1% 5% 1%;
}
.card > img {
  width: auto;
}
.del_detail {
  justify-content: space-between;
  border-radius: 6px;
  color: white;
}
.del_detail button {
  height: 2rem;
  width: 25%;
  border-radius: 5px;
  background-color: yellowgreen;
  color: white;
}

@media all and (min-width: 392px) and (max-width: 588px) {
  .mapdiv {
    display: grid;
    grid-template-columns: repeat(2, 53.4%);
    gap: 5px;
    justify-content: center;
    color: rgb(54, 52, 52);
  }

  .card {
    margin-top: 2rem;
    width: 100%;
    box-shadow: 0px 0px 5px 1px grey;
  }
  .card > img {
    width: auto;
  }
  .del_detail {
    justify-content: space-between;
    border-radius: 6px;
    color: white;
  }
  .del_detail button {
    height: 2rem;
    width: 30.5%;
    border-radius: 5px;
    background-color: yellowgreen;
    color: white;
  }
}
